{% extends "index.html" %}
{% load static %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <button type="button" class="btn btn-primary" data-toggle = "modal" data-target = "#new_rule" id="create">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <div class="modal fade" id="new_rule" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new Role</h5>
                    <button type="button" class="close" data-dismiss = "modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
{#                <form action="{% url 'user:create' %}" method="post">#}
                <form method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="firstname" id = "firstname" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <select id="Permission" class="form-control" name="permission">
                                <option value="-" selected="selected" >Permission</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="description" placeholder="Description" class="form-control">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" name = "create" id="submit">Create</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <ul>
    {% for role in roles %}
        <li>
            <a href="{% url 'user:role_detail' role.id %}">
               {{ role.get_Permission_display}} - {{ role.Name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <script src="{% static 'js/role/role.js' %}"></script>
{% endblock %}